/**
 * Background Variable Overrides
 * =============================================================================
 * 
 * Standard background configuration.
 * 
 * @see https://atomix.design/docs/design-tokens/background
 */

@use "../../../node_modules/@shohojdhara/atomix/src/styles/01-settings/settings.background"
  with (
  $background-enable-gradient-overlay: false,
  $background-transparency-enable: true,
  $background-enable-with-shadow: true,
  $background-transparency: 0.5
);
